.footer {
    background-color: var(--background-dark);
    color: #FFF;
    text-align: center;
}

.footer .copyright {
    margin: 0px 10px;
    font-size: 13px;
    text-align: center;
    padding: 10px 0px;
}